*.class
*.log
target/
lib_managed/
.scala_dependencies
.project
.classpath
.cache
python/__pycache__/
python/env/
.idea

.settings
.cache-main
.cache-tests
.DS_Store
eventstore
dlcrypto
dlstore
data/
*.swp
db/
gainstrack*.json
.venv/
