{% set all_pages = {
'balance_sheet':    (_('Balance Sheet'),    'g b'),
'commodities':      (_('Commodities'),      'g c'),
'editor':           (_('Editor'),           'g e'),
'errors':           (_('Errors'),           ''),
'events':           (_('Events'),           'g E'),
'help':             (_('Help'),             'g H'),
'holdings':         (_('Holdings'),         'g h'),
'import':           (_('Import'),           'g n'),
'income_statement': (_('Income Statement'), 'g i'),
'journal':          (_('Journal'),          'g j'),
'options':          (_('Options'),          'g o'),
'query':            (_('Query'),            'g q'),
'statistics':       (_('Statistics'),       'g x'),
'trial_balance':    (_('Trial Balance'),    'g t'),
'gt_income_statement':         (_('Income Statement'),        ''),
'gt_balance_sheet':         (_('Balance Sheet'),        ''),
'gt_prices':        (_('Prices'),        ''),
'command':          (_('UI Editor'),        ''),
'command/editor':   (_('Command Editor'),   ''),
'irr':              (_('IRR'),    ''),
} %}
{% set navigation_bar = [
['income_statement', 'balance_sheet', 'trial_balance', 'journal', 'query'],
['holdings', 'commodities', 'events', 'statistics'],
['gt_income_statement','gt_balance_sheet','gt_prices','command', 'command/editor', 'irr'],
['editor', 'import', 'options', 'help']
] %}
