/* Editor */

/* For the editor */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: normal;
  src: url("source-code-pro-latin-400.woff2") format("woff2");
}

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 500;
  src: url("source-code-pro-latin-500.woff2") format("woff2");
}

/* Interface fonts */
@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: normal;
  src: url("fira-mono-latin-400.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 500;
  src: url("fira-mono-latin-500.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: normal;
  src: url("fira-sans-latin-400.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  src: url("fira-sans-latin-500.woff2") format("woff2");
}

/* The help pages */
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: normal;
  src: url("source-serif-pro-400.woff2") format("woff2");
}

@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  src: url("source-serif-pro-600.woff2") format("woff2");
}
:root {
  --font-family: "Fira Sans", sans-serif;
  --font-family-alternative: "Source Serif Pro", sans-serif;
  --font-family-monospaced: "Fira Mono", monospace;
  --font-family-editor: "Source Code Pro", monospace;
  --z-index-aside: 1;
  --z-index-header: 2;
  --z-index-floating-ui: 3;
  --z-index-keyboard-overlays: 10;
  --z-index-autocomplete: 8;
  --z-index-overlay: 4;
  --color-transparent-black: hsla(0, 0%, 0%, 0.5);
  --color-transparent-white: hsla(0, 0%, 100%, 0.5);
  --color-background: #fff;
  --color-background-darker: #d9d9d9;
  --color-background-darkest: #ccc;
  --color-text: hsl(0, 0%, 27%);
  --color-text-lighter: hsl(0, 0%, 33%);
  --color-text-lightest: hsl(0, 0%, 47%);
  --color-links: hsl(203, 100%, 32%);
  --color-links-hover: hsl(203, 100%, 22%);
  --color-links-transparent: hsla(203, 100%, 32%, 0.5);
  --color-headings: #333;
  --color-error: hsl(0, 100%, 30%);
  --color-warning: hsl(52, 84%, 56%);
  --color-code-background: #f8f8f8;
  --color-sidebar-text: #444;
  --color-sidebar-text-hover: var(--color-links);
  --color-sidebar-background: hsl(0, 0%, 96%);
  --color-sidebar-border: hsl(0, 0%, 87%);
  --color-autocomplete-match: #ffd27c;
  --color-header: hsl(203, 100%, 32%);
  --color-header-darker: hsl(203, 100%, 22%);
  --color-header-light: hsl(203, 56%, 45%);
  --color-header-tinted: hsl(203, 47%, 66%);
  --color-header-text: hsl(0, 0%, 100%);
  --color-header-text-half: hsla(0, 0%, 100%, 0.5);
  --color-status-red: var(--color-error);
  --color-status-yellow: var(--color-warning);
  --color-status-green: hsl(151, 100%, 25%);
  --color-status-gray: #aaa;
  --color-notification: #fff;
  --color-notification-info: hsl(151, 100%, 25%);
  --color-notification-error: hsl(0, 100%, 30%);
  --color-notification-warning: hsl(52, 84%, 56%);
  --color-table-header-text: #666;
  --color-table-header-background: #e6e6e6;
  --color-table-border: #f2f2f2;
  --color-treetable-expander: #afc1d3;
  --color-budget-negative: #af3d3d;
  --color-budget-positive: #3daf46;
  --color-budget-zero: #ffb900;
  --color-treemap-text: #fff;
  --color-chart-axis: #999;
  --color-editor-comment: #998;
  --color-editor-trailing-whitespace: rgba(255, 199, 199, 0.5);
  --color-editor-directive: #333;
  --color-editor-class: #b84;
  --color-editor-date: #099;
  --color-editor-constant: #008080;
  --color-editor-account: var(--color-links);
  --color-editor-invalid: #333;
  --color-editor-activeline: #ffc;
  --color-mobile-button-text: #000;
  --color-ingest: #cefac1;
}

/* stylelint-disable no-descending-specificity */

.tree-table p,
.tree-table li,
.tree-table ul,
.tree-table ol,
.journal p,
.journal li,
.journal ul,
.journal ol {
  padding: 0;
  margin: 0;
}

.tree-table p,
.journal p {
  display: flex;
}

.tree-table p > span,
.journal p > span {
  flex-shrink: 0;
  padding: 2px 4px;
  margin: 0;
}

.tree-table .num,
.journal .num {
  font-family: var(--font-family-monospaced);
  color: var(--color-text);
  text-align: right;
}

.tree-table .number,
.journal .num {
  white-space: nowrap;
}

.tree-table .head p > span,
.journal .head p > span {
  padding: 3px 4px;
  color: var(--color-table-header-text);
  background-color: var(--color-table-header-background);
}

.tree-table .head .num,
.journal .head .num {
  font-family: var(--font-family);
  color: var(--color-table-header-text);
  background-color: var(--color-table-header-background);
}

.tree-table .totals p > span {
  color: var(--color-table-header-text);
  background-color: var(--color-table-header-background);
}

/* Help Pages */

:root {
  --color-help-sidebar: #f8f8f8;
  --color-help-sidebar-border: #eaeaea;
  --help-max-width: 600px;
}

.help {
  max-width: calc(var(--help-max-width) + 160px);
}

.help-text {
  max-width: var(--help-max-width);
  font: 16px var(--font-family-alternative);
}

.help-text h2,
.help-text h3,
.help-text h4,
.help-text h5 {
  font-family: var(--font-family);
}

.help-text > div {
  margin-bottom: 1em;
}

.help-text .CodeMirror {
  height: auto;
  padding: 0;
  margin: 0;
  background-color: var(--color-code-background);
  border: 0;
}

.help-text code {
  font-size: 0.9em;
}

.help-text ul {
  padding-left: 2em;
}

.help-text li {
  list-style-type: disc;
}

.help-sidebar {
  float: right;
  padding: 10px 10px 0;
  margin: 0 0 10px 10px;
  font-size: 1.1em;
  background-color: var(--color-help-sidebar);
  border: 1px solid var(--color-help-sidebar-border);
}

.help-sidebar a:hover,
.help-sidebar a.selected {
  font-weight: 500;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.fava-icon.loading {
  padding: 0;
  border-top: 2px solid var(--color-header-text);
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

.fava-icon.loading path {
  opacity: 0;
}


/*html,*/
/*body {*/
/*  margin: 0;*/
/*  font-family: var(--font-family);*/
/*  font-size: 14px;*/
/*  font-weight: 400;*/
/*  line-height: 1.5;*/
/*  color: var(--color-text);*/
/*  background-color: var(--color-background);*/
/*}*/

p,
ol,
ul,
dl,
table,
pre,
hr {
  padding: 0;
  margin: 0 0 1rem;
  list-style-type: none;
}

dl {
  margin: 0;
}

code,
pre {
  font-family: var(--font-family-monospaced);
  white-space: pre;
  background-color: var(--color-code-background);
  border: 1px solid var(--color-background-darker);
  border-radius: 3px;
}

code {
  padding: 0 4px;
  line-height: 1;
}

pre {
  padding: 6px 10px;
  overflow: auto;
}

pre code {
  padding: 0;
  margin: 0;
  line-height: inherit;
  border: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 2px 6px;
  white-space: nowrap;
}

td.num,
th.num {
  width: 7em;
  font-family: var(--font-family-monospaced);
  color: var(--color-text);
  text-align: right;
}

thead th,
tfoot td {
  font-weight: 400;
  color: var(--color-table-header-text);
  background-color: var(--color-table-header-background);
  border: 1px solid var(--color-table-header-background);
}

tbody tr:nth-child(2n) {
  background-color: var(--color-sidebar-background);
}

tbody td {
  border: 1px solid var(--color-table-border);
}

table input {
  margin: 0;
}

table pre {
  padding: 0;
  margin: 0;
  overflow: inherit;
  background-color: inherit;
  border: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--color-links-hover);
}

a:link,
a:visited {
  color: var(--color-links);
}

a:active,
a:focus,
a img {
  border: 0;
  outline: none;
}

.q-drawer a {
    color: inherit;
}

/* fake fieldsets to work around browser bugs with <fieldset> */
.fieldset {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

button,
.button {
  padding: 6px 10px;
  color: var(--color-background);
  cursor: pointer;
  background-color: var(--color-header);
  border: 0;
  border-radius: 0;
  outline: 0;
}

h3 button {
  padding: 4px 8px;
  font-size: 1rem;
  font-weight: normal;
}

button:focus,
button:active,
button:hover,
.button:focus,
.button:active,
.button:hover {
  background-color: var(--color-header-darker);
  box-shadow: 0 0 5px var(--color-header);
}

button:disabled,
button.inactive,
button.muted,
.button:disabled,
.button.inactive,
.button.muted {
  color: var(--color-text);
  background-color: var(--color-background-darker);
}

button:disabled:focus,
button:disabled:active,
button:disabled:hover,
button.inactive:focus,
button.inactive:active,
button.inactive:hover,
button.muted:focus,
button.muted:active,
button.muted:hover,
.button:disabled:focus,
.button:disabled:active,
.button:disabled:hover,
.button.inactive:focus,
.button.inactive:active,
.button.inactive:hover,
.button.muted:focus,
.button.muted:active,
.button.muted:hover {
  filter: brightness(90%);
  box-shadow: 0 0 5px var(--color-background-darker);
}

button.link,
.button.link {
  padding: 0;
  margin: 0;
  color: var(--color-links);
  background: none;
}

button.link:focus,
button.link:active,
button.link:hover,
.button.link:focus,
.button.link:active,
.button.link:hover {
  filter: brightness(90%);
  box-shadow: none;
}

button.round,
.button.round {
  height: 1.5em;
  padding: 0 0.5em;
  border-radius: 15px;
}

.button:link,
.button:visited {
  height: 100%;
  color: var(--color-background);
}

.hidden.hidden {
  display: none;
}

/* Structural and generic elements */
:root {
  --header-height: 50px;
  --aside-width: 160px;
  --transitions: all 0.2s ease-out;
}

/*article {*/
/*  position: relative;*/
/*  !*width: 100%;*!*/
/*  height: 100%;*/
/*  padding: 1.5em;*/
/*}*/

kbd {
  display: inline-block;
  padding: 3px 6px;
  margin: 0 1px;
  font: 0.8em var(--font-family-monospaced);
  color: var(--color-text-lighter);
  background-color: var(--color-background);
  border: solid 1px var(--color-background-darker);
  border-bottom-color: var(--color-background-darkest);
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 var(--color-background-darkest);
}

.keyboard-tooltip {
  position: absolute;
  z-index: var(--z-index-keyboard-overlays);
  display: inline-block;
  padding: 0.3em 0.5em;
  font-size: 0.9em;
  color: var(--color-background);
  text-align: center;
  background-color: var(--color-text);
  opacity: 0.9;
}

/*
 * Components
 */

.spacer {
  flex-grow: 1;
}

[data-sort] {
  position: relative;
  padding-right: 18px;
  cursor: pointer;
}

[data-order="desc"]::after {
  position: absolute;
  top: 12px;
  right: 4px;
  display: block;
  content: "";
  border-top: 5px solid var(--color-text-lightest);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

[data-order="asc"]::after {
  position: absolute;
  top: 10px;
  right: 4px;
  display: block;
  content: "";
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--color-text-lightest);
  border-left: 5px solid transparent;
}

/*
 * View-specific and tables
 */


.CodeMirror .CodeMirror-placeholder {
  color: #999;
}

